{% extends 'blog/base.html' %}
{% block title %}
Search My Blog
{% endblock title %}
{% block content %}
<h1>My Blog</h1>
<form>
        {% for field in form %}
        <div class="mb-3">
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{field.errors}}
              </div>
            {% endif %}
            
        <label for="{{field.auto_id}}" class="form-label">{{field.label}}</label>
        {{field}}
      </div>
        {% endfor %}
        {% csrf_token %}
    <button type="submit" class="btn btn-primary">Seach</button>
  </form>
    {% if query %}
        result post for <h4>{{query}}</h4>
    {% endif %}
    {% for result in results %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">
                <a href="{{result.get_absolute_url}}">
                    {{result.title}} with {{result.similarity}}
                </a>
            </h2>
            <p>
                published {{result.publish}} by {{result.author}}
            </p>
            <p class="card-text">{{result.body | truncatewords:30|linebreaks}}</p>
        </div>
    </div>
    {% empty %}
    <p>no result</p>
    {% endfor %}
    
{% endblock content %}



    